#wpbody-content #dashboard-widgets #postbox-container-1 {
    float: none;
    width: 100%;
}
#wpbody-content #dashboard-widgets #postbox-container-1 .postbox .inside {
    margin:0;
    padding: 0;
}

#wpbody-content #dashboard-widgets #postbox-container-2, #wpbody-content #dashboard-widgets #postbox-container-3, #wpbody-content #dashboard-widgets #postbox-container-4 {
    width: 50%;
}